.logo{
    display:block;
    margin:auto;
    width:50px;
    height: 50px
}
body{
    background-image: linear-gradient(rgb(255,255,255),rgb(37, 211, 102));
    height: 100vh;
  
}
.container{
    max-width: 755px;
    border:2px solid black;
    margin:auto;
    display:block;
    height:60vh;
    padding:33px;
    overflow-y: auto;
    margin-bottom: 23px;
    border-radius: 13px;
}
.message{
    background-color: rgb(255, 255, 255);
    width: 24%;
    padding: 10px;
    margin: 17px 2px;
    border: 2px solid black;
    border-radius: 5px;

}

.left{
    float:left;
    clear:both;

}

.right{
    float:right;
    clear:both;

}
#send-container{
    display:block;
    margin:auto;
    text-align: center;
    max-width: 831px;
    width:100%;
    display:flex;
    justify-content: center;
    align-items: center;
}
#messageInp{
    width:87%;
    border:2px solid black;
    height:34px;
    border-radius: 7px;
    margin:0px 5px;
    font-weight: bold;
}
h1{
    margin-top: 12px;
    font-size: 30px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
}

.btn{
    width: 9%;
    cursor: pointer;
    border:2px solid black;
    border-radius: 6px;
    height:34px;

}

